html, body {
  @apply font-sans bg-gray text-white font-sans font-normal;
  width: 100%;
  height: 100%;
}
@mixin shadow {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.btn {
  @apply text-gray-lightest px-5 py-2 bg-primary border-primary border-4 font-bold rounded-sm duration-200 no-underline text-center;
}

.btn--dark {
  @apply text-gray-lightest px-5 py-2 bg-gray border-gray border-4 font-bold rounded-sm duration-200 no-underline text-center;

}

.btn--dark:hover {
  @apply text-gray-lightest bg-gray-form_hover border-gray-form_hover;

}

.btn:hover {
  @apply text-gray-lightest bg-primary-darker  border-primary-darker;
}

.btn--outline {
  @apply text-gray-lightest px-5 py-2 border-4 border-primary font-bold rounded-sm duration-200 no-underline text-center;
}

.btn--outline:hover {
  @apply text-gray-lightest bg-primary-darker;
}

.home_header {
  height: 80vh;
}
@mixin input {
  @apply bg-gray p-2 border-4 border-gray rounded-sm duration-200 text-white font-normal;
}
@mixin input--hover {
  @apply bg-gray-form_hover border-gray-form_hover;
}
.input.required, .input--textarea.required, .input.required:hover, .input.required:focus, .input--textarea.required:hover, .input--textarea.required:focus {
  @apply border-warning;
}
.input {
 @include input;
}
.input:disabled {
  @include input--hover;
}
.input:hover {
  @include input--hover;
}
.input:focus {
  @include input--hover;
}
.input--textarea {
  @include input;
  min-height: 10rem;
}
.input--textarea:hover {
  @include input--hover;
}
.input--textarea:focus {
  @include input--hover;
}
select.input {
  outline: none;
  -webkit-appearance: none;
  display: block;
  appearance: none;
}
.checkbox {
  -webkit-appearance: none;
  background-color: #fafafa;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  z-index: 0;
}
.checkbox:active, .checkbox:checked:active {
  box-shadow: 0 1px 2px black;
}

.checkbox:checked {
  background-color: #e9ecee;
  border: 1px solid #222222;
  box-shadow: 0 1px 2px black;
  color: #99a1a7;
}
.checkbox:checked:after {
  content: '\2714';
  font-size: 14px;
  position: absolute;
  top: 0px;
  left: 3px;
  color: #222222;
}
.checkboxRow {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  .checkbox {
    margin-right: 1rem;
  }
}
a {
  @apply text-primary underline;
}

a.dark {
  @apply text-gray underline;
}

a.dark:hover {
  @apply text-gray-lighter underline;
}

a:hover {
  @apply text-gray-hover;
}
@mixin card {
  @apply bg-gray-lighter p-10 shadow;
}
.card {
@include card();
}

#app {
  width: 100%;
  height: 100%;
}
.loader {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  grid-template-rows: 1fr 1fr 1fr;
  position: fixed;
  z-index: 9999999999999;
  @apply bg-gray;
}
.page {
  width: 100vw;
  height: 100vh;
  @apply flex flex-col;
}
.page__content {
  height: 100%;
  @apply flex flex-col justify-center items-center;
}
.form {
  width: 100%;
  @apply flex flex-col justify-center items-center py-10;
}
.heading {
  @apply text-4xl font-bold;
}
.heading--large {
  @apply text-5xl font-bold;
}
.screen {
  @include card;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 90vw;
  min-height: 50vh;
  img {
    width: 80%;
    margin: 1rem auto;
  }
}
.screen--wide {
  @include card;
  @apply my-5;
  max-width: 800px;
  width: 90vw;
}

.desc {
  @apply font-normal my-3;

}
@mixin inputRow {
@apply my-4;
}
.input__row {
  @include inputRow;
}
.input__row--2 {
  @include inputRow;
  @apply grid grid-cols-2 gap-4;
}
.input__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  label {
    margin-bottom: 0.5rem;
  }
}
.input__container.multi {
  margin: 3rem 0;
  p.label {
    margin-bottom: 1rem;
    font-weight: bold;
  }
  .input {
    margin-left: 1rem;
  }
}
.nav {
  @include shadow;
  width: 100%;
  height: 5rem;
  position: fixed;
  top: 0;
  z-index: 999;
  @apply grid grid-cols-3  p-4 items-center ;
}
.nav__logo {
  height: 3rem;
  @apply mr-3;
}
.nav__brand {
  @apply font-bold text-xl;
}
.nav__spacer {
  height: 5rem;
  width: 100%;
  display: block;
}
.brand {
  @apply text-white no-underline;

}